.fairness {
  padding-top: 11rem;
  padding-bottom: 5rem;

  @media (max-width: em(992)) {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }

  &__text p:not(:last-child) {
    padding-bottom: 1.5rem;
  }
}
