.ask {
  padding-top: 15rem;
  padding-bottom: 5rem;

  &__top-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 3.4rem;

    @media (max-width: em(576)) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    padding-bottom: 0;

    @media (max-width: em(576)) {
      padding-bottom: 0.8rem;
    }
  }

  &__wrap {
    border-radius: 1.2rem;
    background-color: var(--clr-primary-600);

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &--active {
      .ask__question {
        &::before {
          height: 0.1rem;
          transition: height var(--transition);
        }

        &::after {
          transform: translateY(-50%) rotate(180deg);
          transition: transform var(--transition);
        }
      }

      .ask__answer {
        padding: 1.5rem 2rem 1.5rem 4.5rem;
        transition: max-height var(--transition), padding var(--transition);

        @media (max-width: em(992)) {
          padding: 1.5rem;
        }
      }
    }
  }

  &__question {
    position: relative;
    padding: 2rem 7.5rem 2rem 4.5rem;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: fluid-font(1.8rem, 1.6rem);
    text-align: left;

    &::before {
      content: "";
      position: absolute;
      left: 4.5rem;
      top: 100%;
      width: calc(100% - 6.5rem);
      height: 0;
      background-color: rgb(255 255 255 / 7%);
      transition: height var(--transition);
      pointer-events: none;

      @media (max-width: em(992)) {
        left: 1.5rem;
        width: calc(100% - 3rem);
      }
    }

    &::after {
      content: "";
      position: absolute;
      right: 2rem;
      top: 50%;
      width: 4rem;
      height: 4rem;
      background-image: url(../img/ask/arrow.svg);
      background-size: contain;
      background-repeat: no-repeat;
      transform: translateY(-50%);
      transition: transform var(--transition);
      pointer-events: none;

      @media (max-width: em(992)) {
        right: 1.5rem;
        width: 3.5rem;
        height: 3.5rem;
      }
    }

    @media (max-width: em(992)) {
      padding: 2rem 6.5rem 2rem 1.5rem;
    }
  }

  &__answer {
    overflow: hidden;
    padding: 0 2rem 0 4.5rem;
    max-height: 0;
    box-sizing: content-box;
    font-size: 1.4rem;
    line-height: 160%;
    transition: max-height var(--transition), padding var(--transition);

    p {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    @media (max-width: em(992)) {
      padding: 0 1.5rem;
    }
  }

  @media (max-width: em(992)) {
    padding-top: 10rem;
    padding-bottom: 4rem;
  }

  @media (max-width: em(576)) {
    padding-top: 5rem;
  }
}
