.slots {
  padding-top: 15rem;

  @media (max-width: em(992)) {
    padding-top: 10rem;
  }

  @media (max-width: em(576)) {
    padding-top: 5rem;
  }

  &__wrapper {
    display: grid;
    grid-column-gap: 6rem;
    grid-template-columns: 40% 55%;

    @media (max-width: em(992)) {
      display: block;
    }
  }

  &__item {
    grid-template-columns: 35% 62%;
    font-size: initial;

    @media (max-width: em(576)) {
      grid-column-gap: 3rem;
      grid-template-columns: 45% 45%;
    }
  }
}
