.tournay {
  padding-top: 15rem;

  @media (max-width: em(992)) {
    padding-top: 10rem;
  }

  @media (max-width: em(576)) {
    padding-top: 5rem;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__text-wrap {
    flex-shrink: 0;
    padding-right: 2rem;
    max-width: 66.3rem;

    @media (max-width: em(992)) {
      padding-right: 0;
      max-width: initial;
    }
  }

  &__subtitle {
    padding-bottom: 3rem;
  }

  &__list {
    line-height: 150%;

    li:not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }

  &__img {
    position: relative;
    z-index: 0;
    margin-right: auto;
    margin-left: auto;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        69.14deg,
        #19061f 5.79%,
        #550b6d 98.56%
      );
      filter: blur(150px);
      transform: translate(-50%, -50%);
    }

    @media (max-width: em(992)) {
      display: none;
    }
  }
}
